

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .5s;
}


